.about {
  padding: 3.3vmax 3vw;
  display: flex;
  justify-content: space-around;

  .descripcion {
    color: #9c9fb3;
    line-height: 1.7em;
    width: 40vw;
    font-size: calc((1.1 - 1) * 1.2vw + 1rem); /* TODO: calculo para mobile */
    font-weight: 100;
  }

  img {
    width: 30vw;
    object-fit: contain;
  }

  :nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: space-between;

    .contact {
      padding-top: 15vh;
      line-height: 1.7em;

      a {
        :nth-child(1) {
          font-weight: bold;
        }
      }
    }
  }
}
